<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	
	<!--
	  - Location of the Spring bean definition files, for initialization of
	  - root spring application context
	  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			<!-- Service layer config files go here, space delimited -->
		</param-value>
	</context-param>

	<!--
	  - Load the spring root application context from the paths define by
	  - the contextConfigLocation param.
	  -->	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>@PROJECT_NAME@</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/dispatcher-servlet-config.xml</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>@PROJECT_NAME@</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
</web-app>