---
# The name of your project
title: Spring Data JPA

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringLDAP

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-ldap
      icon: github

    - name: Issues (JIRA)
      url:  http://jira.springsource.org/browse/LDAP
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/LDAP
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-ldap
      icon: stackoverflow

    - name: Metrics (SonarQube)
      url:  https://sonar.springsource.org/dashboard/index/org.springframework.ldap:spring-ldap
      icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">


{% capture billboard_description %}

Makes it easier to build Spring-based applications that use the Lightweight Directory Access Protocol.

{% endcapture %}

{% capture main_content %}

Spring LDAP is a Java library for simplifying LDAP operations, based on the pattern of Spring's JdbcTemplate. The framework relieves the user of common chores, such as looking up and closing contexts, looping through results, encoding/decoding values and filters, and more.

## Features

* Provides LDAP template which eliminates the need to worry about creating and closing LdapContext and looping through NamingEnumeration
* Comprehensive unchecked Exception hierarchy built on Spring's DataAccessException
* Contains classes for dynamically building LDAP filters and Distinguished Names (DNs)
* Client-side LDAP transaction management
* Much more...

<span id="quick-start"></span>
## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

### Getting Started

[Introduction to Spring LDAP](http://docs.spring.io/spring-ldap/docs/current/reference/#introduction)

{% endcapture %}


{% include project_page.html %}
</html>
