<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:grid="http://schema.majitek.com/spring"
        xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://schema.majitek.com/spring
http://schema.majitek.com/grid-spring-v1.0.xsd">

    <import resource="classpath:/apacheDsContext.xml"/>

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/ldap.properties" />
	</bean>

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource" >
		<property name="urls" value="${urls}" />
		<property name="userDn" value="${userDn}" />
		<property name="password" value="${password}" />
		<property name="base" value="${base}" />
		<property name="dirObjectFactory" value="org.springframework.ldap.core.support.DefaultDirObjectFactory" />
	</bean>

    <bean id="ldapTemplate" scope="singleton" class="org.springframework.ldap.core.LdapTemplate">
        <constructor-arg ref="contextSource"/>
    </bean>

    <bean id="typeConverter" scope="singleton" class="org.springframework.ldap.odm.typeconversion.LdapTypeConverter"/>

    <bean id="referencedEntryEditorFactory" scope="singleton"
          class="org.springframework.ldap.odm.typeconversion.ReferencedEntryEditorFactory">
        <constructor-arg value="${base}" />
        <constructor-arg ref="ldapTemplate"/>
    </bean>

    <bean id="ctxMapperFactory" scope="singleton"
          class="org.springframework.ldap.odm.mapping.ObjectDirectoryMapperFactory">
        <constructor-arg ref="typeConverter"/>
        <constructor-arg ref="referencedEntryEditorFactory"/>
    </bean>

    <bean id="ldapDao" scope="singleton" class="org.springframework.ldap.odm.dao.LdapDaoImpl">
        <constructor-arg ref="ldapTemplate"/>
        <constructor-arg ref="ctxMapperFactory"/>
    </bean>

</beans>