body {
    padding-top: 50px;
}
.main-body {
    padding: 40px 15px;
    text-align: left;
}

.button-bottom {
    padding-top: 10px;
}

.search-form {
    padding-top: 20px;
}

.item-list {
    width: 600px;
}

.row-1 {
    background-color: rgba(86,61,124,.15);
}