<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
        <property name="contextSource" ref="contextSource" />
    </bean>

    <bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource" depends-on="embeddedLdapServer">
        <property name="base" value="dc=jayway,dc=se" />
        <property name="url" value="ldap://127.0.0.1:18880" />
        <property name="userDn" value="uid=admin,ou=system" />
        <property name="password" value="secret" />
    </bean>

    <bean id="ldifPopulator" class="org.springframework.ldap.test.apacheds2.LdifPopulator" depends-on="embeddedLdapServer">
        <property name="contextSource" ref="contextSource" />
        <property name="resource" value="setup_data.ldif" />
        <property name="clean" value="true" />
        <property name="base" value="dc=jayway,dc=se" />
        <property name="defaultBase" value="dc=jayway,dc=se" />
    </bean>

    <bean id="embeddedLdapServer" class="org.springframework.ldap.test.apacheds2.EmbeddedLdapServerFactoryBean">
        <property name="partitionName" value="test"/>
        <property name="partitionSuffix" value="dc=jayway,dc=se" />
        <property name="port" value="18880" />
    </bean>

</beans>
