name: Release Scheduler

on:
  schedule:
    - cron: '15 16 * * THU' # Every Thursday at 16:15pm UTC
  workflow_dispatch:

permissions: read-all

jobs:
  dispatch_scheduled_releases:
    name: Dispatch scheduled releases
    if: ${{ github.repository_owner == 'spring-projects' }}
    strategy:
      matrix:
        # List of active maintenance branches.
        branch: [ main, 3.3.x, 3.2.x, 2.4.x ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Dispatch
        env:
          GH_TOKEN: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
        run: gh workflow run update-scheduled-release-version.yml -r ${{ matrix.branch }}
